/*Insert Main Css*/
html,
body {
	height: 100%;
}

body {
	background-image: url("../img/landing_img1.jpg");
	background-size: cover;
}

#main-container {
/*	display: flex;
	flex-direction: column;*/
}

#main-row {
	height: 100vh;
}

#landing-col {
	height: 100vh;
	margin-top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#state-auto,
#state-input {
	position: absolute;
	font-size: 60px;
	height: 80px;
}

#state-auto { 
	/*border: none;*/
	color: silver;
	border-width: 3px;
}

#state-input {
	color: #26a69a;
	border-width: 3px;
	z-index: 5;
}

#state-input-label {
	font-size: 40px;
	position: static;
	height: auto;
}

.input-field label:not(.label-icon).active {
    transform: translateY(-40px) scale(0.6);
}
