.my-container {
	padding: 0 50px 0 50px;
	opacity: 0;
}

#info-row {
	margin: 0;
}

#map-col {
	padding: 0;
}

.map,
#stat {
	height: 87vh;
	margin: 0;
	z-index: -1;
}

#stat-list {
	margin: 0 !important;
	height: 87vh;
}

#stat-col {
	padding: 0;
}

#magnify {
	line-height: 45px;
}

#search {
	font-size: 40px;
	margin: 0;
}

input {
	background-color: rgba(0,0,0,0.1);
	z-index: 2;
}

.nav-container {
	background-color: rgba(0,0,0,0.1) !important;
}

.list-body {
	border: none;
}

input#search {
	background-color: #58a4b0;
}

/*Color pallette for reference:
d8dbe2 - pale gray for backgrounds
a9bcd0 - pale blue - headers
58a4b0 - turquoise/blue - other headers, possibly larger headers
373f51 - navy - backgrounds
1b1b1e - black/blue - other background material?*/