.my-container {
	padding: 0 50px 0 50px;
	opacity: 0;
}

#info-row {
	margin: 0;
}

#map-col {
	padding: 0;
}

.map,
#stat {
	height: 87vh;
	margin: 0;
	z-index: -1;
}

#stat-list {
	margin: 0 !important;
	height: 87vh;
}

#stat-col {
	padding: 0;
}

#magnify {
	line-height: 45px;
}

#search {
	font-size: 40px;
	margin: 0;
}

input {
	background-color: rgba(0,0,0,0.1);
	z-index: 2;
}

.nav-container {
	background-color: rgba(0,0,0,0.1) !important;
}

.list-body {
	border: none;
}