/*Color pallete for reference:
d8dbe2 - pale gray for backgrounds
a9bcd0 - pale blue - headers
58a4b0 - turquoise/blue - other headers, possibly larger headers
373f51 - navy - backgrounds
1b1b1e - black/blue - other background material?*/

/*new colors:
#23628e - navy - 
#d16262 - red - headers?
#fff9ed - cream - stats background
#dbdbdb - gray - ?
#664d4d - mahogany - states
*/
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #dbdbdb;
}

section {
  position: relative;
	display: flex;
	flex-direction: column;
}

/*nav {
	position: absolute;
	height: 64px;
}*/

.fade {
	opacity: 0;
  height: 100%;
  width: 100%;
  /*background-image: url("../img/landing_img1.jpg");*/
  /*background-size: cover;*/
}

#main-container {
	padding: 0 50px 0 50px;
	margin: auto;
}

#main-row {
  height: 100vh;
  margin: 0;
}

#landing-col {
  height: 100vh;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-field {
	position: relative;
	background-color: #d16262;
}
/*
.state-auto,
.state-input {
  position: absolute;
  top: 0;
  font-size: 60px;
  height: 80px;
  font-size: 40px !important;
}*/

.state-auto {
  position: absolute !important;
  top: 0 !important;
  color: black !important;
  opacity: 0.5 !important;
  z-index: 3 !important;
  font-size: 40px !important;
  /*border-width: 3px;*/
}

input::-webkit-input-placeholder {
  color: black;
}

/*#state-input {
  color: grey;
  border-width: 3px;
  z-index: 5;
}*/

.search {
	z-index: 4 !important;
	background-color: rgba(0,0,0,0.1) !important;
	position: absolute !important;
	top: 0 !important;
	color: white !important;
}

.search {
	font-size: 40px !important;
}
/*#state-auto {
  color: silver;
  opacity: 0.5;
  border-width: 3px;
}

#state-input {
  color: #26a69a;
  border-width: 3px;
  z-index: 5;
}*/

/*#state-input-label {
  font-size: 40px;
  position: static;
  height: auto;
}*/

/*.input-field label:not(.label-icon).active {
  transform: translateY(-40px) scale(0.6);
}*/

.my-container,
.fade {
	padding: 0 50px 0 50px;
	opacity: 0;
}

#info-row {
	margin: 0;
}

#map-col {
	padding: 0;
}

.map,
#stat {
	height: 87vh;
	margin: 0;
}

.stat-list {
	margin: 0 !important;
	height: 87vh !important;
}

.stat-col {
	padding: 0 !important;
}

#magnify {
	line-height: 45px;
}

.map-icon {
  height: auto;
  width: 40px;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

.map-icon:hover {
  filter: invert(100%);

}

.input-del {
	cursor: pointer !important;
	z-index: 4 !important;
}

/*input {
	background-color: rgba(0,0,0,0.1);
	z-index: 2;
}
*/

.nav-container {
	background-color: rgba(0,0,0,0.1) !important;
}

.list-body {
	border: none;
}

/*landing scroll indicator*/
#chevron {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#scroll-indicator {
  color: white;
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {transform: translateY(0);}
  50% {transform: translateY(20px);}
  100% {transform: translateY(0);}
}

/*For interactive US Map*/
#usmap-container {
  position: relative;
  /*flex: 1;*/
  /*width: 900px;*/
  width: auto;
  /*height: 90%;*/
  margin: auto;
}

#us-map {
  display: block;
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  height: 530px !important;
  width: 930px !important;
	/*max-height: 80vh !important;*/
	/*max-width: 90vw;*/
}

.empty-flex {
  flex: 1;
}
/*#us-responsive {
  width: auto;
  height: auto;
  margin: auto;
}*/

path:hover {
  stroke: #d16262 !important;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: #d16262 !important;
  cursor: pointer;
}

#frames {
	pointer-events: none;
}

/*For google map column*/
.card-image {
  height: 80%;
}

/*For Feature*/
#menu {
  position: absolute;
  bottom: 20px;
  right: 50px;
  background-color: #d16262;
}

#feature-content {
  background-color: #d16262;
  padding-left: 30px;
}

#feature-map {
  width: 30px;
  height: auto;
  line-height: 20px;
  margin: 0 5px 0 5px;
}

#feature-icon-text {
  display: flex;
  flex-direction: row;
}

.feature-text {
  color:#fff;
  font-size: 20px;
  margin-bottom: 10px;
  height: 40px;
  padding-top: 10px;
}

/*------- D3 -------- */

div.bar {
	display:block;
	width: 20px;
	height: 20px;	/* Gets overriden by D3-assigned height below */
	margin-top: 2px;
	background-color: #d16262;
  color: #ffffff;
  padding-left: 5px;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff9ed;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 48px;
  padding: 4px;
  font: 124x sans-serif;
  color: #fff;
  background: #23628e;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.title-stat {
  color: #373f51;
  font-size: 20px;
  font-weight: 400;
}

.text-stat {
  color: #23628e;
}

.number-stat {
  color: #d16262;
}

.text-stat,
.number-stat {
  font-size: 20px;
  font-weight: 300;
}

.profile {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  transition: all 0.4s ease;
  border: 2px solid #666;
}
.profile:hover {
  transition: all 0.4s ease;
  opacity: 0.6;
}
.profile-section h5 {
  color: #666;
  font-weight: bold;
}
.profile-section li {
  display: inline;
}
.profile-section ul > li a:hover {
  color: #23628e;
  transition: all 0.4s ease;
}

.profile-section li a {
  transition: all 0.4s ease;
}

.profile-section a:visited {
  color: #333;
}

.profile-section a {
  color: #333;
}